name: Python Package using Conda

on:
  pull_request:
    branches:
      - development
      - main
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Install deps
      run: |
        pip install -e .
        pip install hatch

    - name: Test with pytest
      run: hatch run test:run
    - name: Lint
      run: hatch run style:check
